* {
  margin: 0;
  padding: 0;
}

.bg-home {
  background: #ef652b;
  font-size: 34px !important;
  z-index: 1;
  padding: 10px;
  border-radius: 50%;
}
.item-box {
  max-width: 45%;
  border: 1px solid #e3e3e3;
  padding: 10px 10px 18px 10px;
  border-radius: 5px;
  margin: 8px;
}
.item-box a:hover {
  text-decoration: none;
}
.item-box a h3 {
  color: #000;
}
.item-box a p {
  color: #dc3545;
}
.radio .custom-control-inline:first-child {
  margin-left: 0.5rem;
}
.radio .custom-control-inline:last-child {
  margin-right: 0rem;
}
.absolute i {
  position: fixed;
  top: 12px;
}
.btn_primary {
  border-radius: 50px;
  border: 1px solid #000;
  width: 25%;
}
.table td,
.table th {
  padding: 0.15rem;
  vertical-align: middle;
  border-top: none;
}
.form-control {
  padding: 0.15rem 0.75rem;
  text-align: center;
}
i.refresh {
  color: #418bcf;
  font-size: 70px;
  position: relative;
}
.icon-center {
  text-transform: uppercase;
  background: linear-gradient(to right, #506481 0%, #76a3c6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 30px;
  left: 24px;
  right: 0;
  font-size: 12px;
  font-weight: 600;
}
.fluff {
  color: #006161;
  font-size: 14px;
}
.fluff a {
  color: #006161;
}
.fluff a:hover {
  text-decoration: none;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: none;
  text-align: center;
}
tbody tr td {
  text-align: right;
}
tbody tr td:first-child {
  width: 60%;
  text-align: left;
}
.btn a {
  padding: 24px 10px 10px;
  color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
}
.btn a i {
  font-size: 30px;
  width: 30px;
}
.search-icon i {
  font-size: 40px;
  font-weight: bolder;
  background: linear-gradient(#a2c842 0%, #668937 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.table-1 tbody tr td {
  text-align: center;
}
.table-1 tbody tr td:first-child {
  width: auto;
  text-align: center;
}
.bordr {
  padding: 10px;
  border: 1px solid #ccc2c2;
  border-radius: 5px;
}
.links p {
  margin: 0;
}
.links {
  width: 20%;
  text-align: center;
}
.links a i {
  font-size: 30px;
}
.cat-box {
  width: 60%;
  margin: 10px auto;
}
.cat-box a {
  color: #000;
}
.cat-box a:hover {
  text-decoration: none;
}
.cat-image img {
  border-radius: 30px;
}
.cat-name-price p {
  font-size: 14px;
  margin-bottom: 2px;
}
.digits p{font-size: 46px;margin-bottom: 2rem;}
.btn_calc {
  border: 1px solid #4f4f4f;
    width: 80px;
    display: inline-block;
    text-align: right;
    padding: 0 14px;
    border-radius: 50px;
    background: linear-gradient(#ffffff,#cdcdcd);
    color: #000;
    font-size: 46px;
    margin-bottom: 5px;
}
.btn_calc1 {
  width: 122px;
  text-align: center;
}
